body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
p {
  margin-top: 50px;
  margin-bottom: 50px;
}
.container {
  display: flex;
}
.top-heading {
  border-left: 7px solid orangered;
  border-radius: 5px;
  padding-left: 20px;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.half-width img {
  width: 80%;
}
.coding-section {
  background-image: url(images/pictures/dream-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.link-button {
  text-decoration: none;
  background-color: orangered;
  color: white;
  padding: 20px 30px;
  margin: 20px;
  border-radius: 10px;
}
.orange-color {
  color: orange;
}
.single-mission {
  margin-inline: auto;
  width: 25%;
  margin-bottom: 100px;
  padding: 25px;
  border-radius: 20px;
}
.single-mission img {
  margin-left: 85px;
  width: 50%;
}
