body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
p {
  margin-top: 50px;
  margin-bottom: 50px;
}
.container {
  display: flex;
}
.top-heading {
  border-left: 7px solid orangered;
  border-radius: 5px;
  padding-left: 20px;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.half-width img {
  width: 80%;
}
.coding-section {
  background-image: url(images/pictures/dream-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.link-button {
  text-decoration: none;
  background-color: orangered;
  color: white;
  padding: 20px 30px;
  margin: 20px;
  border-radius: 10px;
}
.orange-color {
  color: orange;
}
.single-mission {
  margin-inline: auto;
  width: 25%;
  margin-bottom: 100px;
  padding: 25px;
  border-radius: 20px;
}
.single-mission img {
  margin-left: 85px;
  width: 50%;
}
.app-image {
  margin-left: 300px;
}

.footer {
  background-color: black;
  text-align: center;
  padding: 30px;
  margin: 0;
}

.single-plan {
  margin-inline: auto;
  text-align: center;
  width: 25%;
  border-radius: 20px;
  background-color: gainsboro;
}
.single-plan img {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
}

.container-img {
  position: relative;
}
.tour-plan-section {
  background-color: gainsboro;
  padding-bottom: 150px;
  padding-top: 70px;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-img:hover .image {
  opacity: 0.3;
}

.container-img:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
